PORT = 5000
MONGOURI =mongodb://tbasuchoudhury_db_user:Tanusree97@ac-nopou01-shard-00-00.yjb40zg.mongodb.net:27017,ac-nopou01-shard-00-01.yjb40zg.mongodb.net:27017,ac-nopou01-shard-00-02.yjb40zg.mongodb.net:27017/?ssl=true&replicaSet=atlas-9xwkkt-shard-0&authSource=admin&appName=Cluster0
API_KEY = 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